<form action="#" method="POST">
    <label name="CarModel">Car Model</label>
    <input name="CarModel" type="text">
    <label name="CarMake">Car Make</label>
    <input name="Car Make" type="text">
    <label name="CarYear">Make Year</label>
    <input name="CarYear" type="number">
    <input type="submit">
</form>