<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Real Time Colors</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

        $(document).ready(function (){
            var socket = io.connect();

            $('#green').click(function () {
                socket.emit("click_green")
            });

            $('#blue').click(function () {
                socket.emit("click_blue")
            });

            $('#pink').click(function () {
                socket.emit("click_pink")
            });
            
            socket.on("update_background", function(color) {
                console.log(color);
                if(color.color == 'green'){
                    document.body.style.backgroundColor = "green"
                }
                if(color.color == 'blue'){
                    document.body.style.backgroundColor = "blue"
                }
                if(color.color == 'pink'){
                    document.body.style.backgroundColor = "pink"
                }
            });
        });
    </script>

<style>
    .row{
        width:600px;
        margin:auto;
    }
    button{
        width: 120px;
        padding:100px;
        margin:25px;
    }
</style>

<body>
    <div class="container">
        <div class="row">
          <button id="green" class="btn btn-light"><div class="col-sm">
            <h3>Green</h3>
          </div></button>
          <button id="blue" class="btn btn-light"><div class="col-sm">
            <h3>Blue</h3>
          </div></button>
          <button id="pink" class="btn btn-light"><div class="col-sm">
            <h3>Pink</h3>
          </div></button>
        </div>
      </div>
</body>
</html>