<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
#img{
height:200px;
border-radius: 25px;
}    
</style>
<body>
    <!-- <img id="img" src="/images/cat1.jpg" alt="cat1"></body> -->
</html>

<html></body>
<body>
        <h3>Name: <%= cats[0].name %></h3>
        <h4>Favorite food: <%= cats[0].favfood %></h4>
        <h4>Favorite activity: <%= cats[0].act %></h4>
        <h4>Favorite thing: <%= cats[0].thing %></h4>
        <hr>

</body>
</html>
